<!doctype html>
<html lang="en">
  <head>
    <title>CodeLive</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/static/favicon.svg">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/addon/dialog/dialog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/addon/search/matchesonscrollbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/theme/material.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/theme/solarized.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="/static/css/index.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.js"></script>
    <script src="https://codemirror.net/addon/comment/comment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/python/python.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/clike/clike.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/addon/dialog/dialog.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/addon/search/searchcursor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/addon/search/search.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/addon/scroll/annotatescrollbar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/addon/search/matchesonscrollbar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/addon/search/jump-to-line.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/keymap/sublime.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/keymap/vim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/keymap/emacs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/addon/edit/closebrackets.min.js"></script>
  </head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-height">
    <a class="navbar-brand" href="#"><i class="fas fa-code"></i>&nbsp; CodeLive</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/swe-cola/code-live">GitHub</a>
        </li>
      </ul>
    </div>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
  </nav>
  <div class='container-fluid fixed-height'>
    <div class='row bg-dark vertical-center'>
      <div class="col-1" id="status">status: <span id="network-status"></span></div>
      <div class="col-6">peers: <span id="peers-holder"></span></div>
      <div class="col-5"></div>
    </div>
  </div>
  <div class='dynamic-height'>
    <div class='container-fluid vertical-container'>
      <textarea id="placeholder" cols="30" rows="10"><pre><code></code></pre></textarea>
      <textarea id="console" readonly > </textarea>
    </div>
    <div class='tab-content bg-dark dis_none'>
      <div class="tab-pane active" id="tabFile">
        <div class="btn-group btn-group-sm mr-2" role="group">
          <button id="btnLanguageGroupDrop" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
        </div>
        <textarea id="script-input" placeholder="standard input:"></textarea>
        <button type="button" class="btn btn-secondary" id="executeScript">Execute</button>
      </div>
      <div class="tab-pane" id="tabView">
        <div class='inline-block mr-4'>
          Dark Mode
          <label id="darkModeSwitch" class="switch">
            <input id="color_theme" type="checkbox" onclick="colortheme(this)" checked>
            <span class="slider round"></span>
          </label>
        </div>
        <div class="btn-toolbar inline-block" role="toolbar" aria-label="Toolbar with button groups">
          <div id="editor_type" class="btn-group btn-group-sm mt-2 mr-2" role="group" aria-label="First group">
            <button id="sublime" type="button" class="btn btn-secondary">sublime</button>
            <button id="vim" type="button" class="btn btn-secondary">vim</button>
            <button id="emacs" type="button" class="btn btn-secondary">emacs</button>
          </div>
          
          <div class="btn-group btn-group-sm mr-2" role="group">
            <button id="btnTabSizeGroupDrop" type="button" class="btn btn-secondary dropdown-toggle" data-desc="Tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tab: 4
            </button>
          </div>
          <div class="btn-group btn-group-sm mr-2" role="group">
            <button id="btnFontSizeGroupDrop" type="button" class="btn btn-secondary dropdown-toggle" data-desc="Font" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Font: 14
            </button>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tabChat">
        <div id="chat" class='bg-dark'></div>
      </div>
      <div class="tab-pane" id="tabAccount">
        account
      </div>
    </div>
      <nav class = "nav nav-pills flex-column tabs-buttons bg-dark">
        <a class="nav-link" href="#tabFile" data-toggle="tab">
          <i class="fas fa-file" data-toggle="tooltip" data-placement="left" title="File"></i>
        </a>
        <a class="nav-link" href="#tabView" data-toggle="tab">
          <i class="fas fa-font" data-toggle="tooltip" data-placement="left" title="View"></i>
        </a>
        <a class="nav-link" href="#tabChat" data-toggle="tab">
          <i class="far fa-comment-alt" data-toggle="tooltip" data-placement="left" title="Chat"></i>
        </a>
        <a class="nav-link" href="#tabAccount" data-toggle="tab">
          <i class="fas fa-user-circle" data-toggle="tooltip" data-placement="left" title="Account"></i>
        </a>
      </nav>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- Custom JavaScript -->
  <script src="static/js/config.js"></script>
  <script src="static/js/runner.js"></script>
  <script src="static/js/yorkie.js"></script>
  <script src="static/js/util.js"></script>
  <script src="static/js/index.js"></script>
  <script src="static/js/lang_name.js"></script>
  <script src="static/js/index_generate_dynamic_html.js"></script>
  <script src="static/js/index_register_element_callback.js"></script>
  <script>
    const API_URL = '{{ API_URL }}';
    const collection = '{{ document_key[0] }}';
    const documentName = '{{ document_key[1] }}';
    main();
  </script>
  </body>
</html>
