version: 2.1

orbs:
  python: circleci/python@0.2.1
  pytest: thekevjames/pytest@0.0.60

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - python/save-cache
      - run:
          command: ./test_codes/test.py test
          name: Test

workflows:
  main:
    jobs:
      - build-and-test
