body {
  height: 100vh;
  margin: 0;
  color: #fff;
  display: flex;
  flex-flow: column;
}
#network-status span {
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 0.4rem;
}
.green { background-color: green }
.red { background-color: red; }

.CodeMirror {
  font-family: Consolas, monaco, monospace;
  font-size: 14px;
  height: 100%;
}

.navbar {
  border-bottom: 1px solid #444;
}

#chat {
  height: 100%;
  width: 20%;
  float: right;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.fixed-height {
  flex: 0 1 auto;
}

.dynamic-height {
  display:flex;
  flex: 1 1 auto;
  flex-flow: row;
  overflow: hidden scroll;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20;
  margin-bottom: 0px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.vertical-center {
  display: flex;
  align-items: center;
}

/* Tabs */
.dynamic-height .tab-content{
  height: 100%;
  width: 25%;
  padding: 1rem;
  display:flex;
  flex-flow:column;
}
.dynamic-height .tab-content .btn-group{
  width: 100%;
  font-size: 0.875rem;
  margin: 4px 0 4px 0;
}
.dynamic-height .tab-content .btn-secondary{
  width: 100%;
  font-size: 0.875rem;
  margin: 4px 0 4px 0;
}
.dynamic-height .tab-content textarea{
  width: 100%;
  background-color: #202222;
  margin: 4px 0 4px 0;
  color: #FFF;
  font-size: 0.875rem;
  padding: .25rem 1rem;
  border:none;
}
.dynamic-height .tabs-buttons{
  height: 100%;
  width: 3rem;
}
.dynamic-height .tabs-buttons .nav-link{
  align-content: center;
}

.vertical-container{
  display:flex;
  flex-flow:column;
  margin:0;
  padding:0;
}


#console{
  flex-basis: 40%;
  background-color: #202222;
  color: #FFF;
  font-size: 0.875rem;
  padding: .25rem 1rem;
  resize:none;
  border:none;
}